# Copy this file to .env.local and fill in your values
# This file should be added to .gitignore

GHOSTSPAY_API_KEY=your_api_key_here
GHOSTSPAY_BASE_URL=
GHOSTSPAY_COMPANY_ID=your_company_id_here
PORT=3000
TIKTOK_URL=https://www.tiktok.com/@yourprofile
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@yourprofile
