{
  "openapi": "3.1.0",
  "info": {
    "title": "GhostsPays Payment API",
    "version": "1.0.0",
    "description": "API moderna para processamento de pagamentos com suporte a PIX, cartão de crédito e boleto bancário.",
    "contact": {
      "name": "Suporte GhostsPays",
      "url": "https://GhostsPays.com/suporte",
      "email": "suporte@GhostsPays.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.ghostspaysv2.com/functions/v1",
      "description": "Ambiente de desenvolvimento"
    },
    {
      "url": "https://api.ghostspaysv2.com/functions/v1",
      "description": "Ambiente de produção"
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Criação de pagamentos via PIX, cartão de crédito ou boleto bancário"
    },
    {
      "name": "Transactions",
      "description": "Gerenciamento do ciclo de vida das transações (consulta, estorno, entrega)"
    },
    {
      "name": "Webhooks",
      "description": "Notificações automáticas sobre mudanças de status"
    }
  ],
  "paths": {
    "/transactions": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Criar Pagamento",
        "description": "Cria um novo pagamento com suporte a PIX, cartão de crédito ou boleto bancário. Para cartões, você pode usar um token previamente gerado ou enviar os dados completos.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "paymentMethod",
                  "items",
                  "amount"
                ],
                "properties": {
                  "customer": {
                    "type": "object",
                    "required": [
                      "name",
                      "email",
                      "phone",
                      "document"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 100,
                        "description": "Nome completo do cliente",
                        "example": "João da Silva Santos"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "E-mail válido do cliente",
                        "example": "joao.silva@example.com"
                      },
                      "phone": {
                        "type": "string",
                        "pattern": "^[0-9]{10,11}$",
                        "description": "Telefone com DDD (apenas números)",
                        "example": "11987654321"
                      },
                      "document": {
                        "type": "object",
                        "required": [
                          "number"
                        ],
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "Número do documento (CPF ou CNPJ, apenas números)",
                            "example": "12345678901"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "CPF",
                              "CNPJ"
                            ],
                            "description": "Tipo do documento",
                            "example": "CPF"
                          }
                        }
                      }
                    }
                  },
                  "shipping": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "object",
                        "required": [
                          "street",
                          "streetNumber",
                          "zipCode",
                          "neighborhood",
                          "city",
                          "state",
                          "country"
                        ],
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Nome da rua/avenida",
                            "example": "Rua das Flores"
                          },
                          "streetNumber": {
                            "type": "string",
                            "description": "Número do endereço",
                            "example": "123"
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento (opcional)",
                            "example": "Apartamento 101"
                          },
                          "zipCode": {
                            "type": "string",
                            "pattern": "^[0-9]{5}-?[0-9]{3}$",
                            "description": "CEP no formato 12345-678 ou 12345678",
                            "example": "01234-567"
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "Bairro",
                            "example": "Centro"
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade",
                            "example": "São Paulo"
                          },
                          "state": {
                            "type": "string",
                            "pattern": "^[A-Z]{2}$",
                            "description": "Estado (UF)",
                            "example": "SP"
                          },
                          "country": {
                            "type": "string",
                            "pattern": "^[A-Z]{2}$",
                            "description": "País (código ISO)",
                            "example": "BR"
                          }
                        }
                      }
                    }
                  },
                  "paymentMethod": {
                    "type": "string",
                    "enum": [
                      "PIX",
                      "CARD",
                      "BOLETO"
                    ],
                    "description": "Método de pagamento escolhido"
                  },
                  "card": {
                    "type": "object",
                    "description": "Dados do cartão. Use 'id' para cartão tokenizado OU os outros campos para novo cartão.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Token do cartão previamente tokenizado. Se informado, outros campos são opcionais.",
                        "example": "card_token_abc123"
                      },
                      "number": {
                        "type": "string",
                        "pattern": "^[0-9]{13,19}$",
                        "description": "Número do cartão (apenas números). Obrigatório se 'id' não for informado.",
                        "example": "4111111111111111"
                      },
                      "holderName": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 50,
                        "description": "Nome do titular conforme cartão. Obrigatório se 'id' não for informado.",
                        "example": "JOAO DA SILVA"
                      },
                      "expirationMonth": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12,
                        "description": "Mês de expiração (1-12). Obrigatório se 'id' não for informado.",
                        "example": 12
                      },
                      "expirationYear": {
                        "type": "integer",
                        "minimum": 2024,
                        "maximum": 2050,
                        "description": "Ano de expiração (4 dígitos). Obrigatório se 'id' não for informado.",
                        "example": 2025
                      },
                      "cvv": {
                        "type": "string",
                        "pattern": "^[0-9]{3,4}$",
                        "description": "Código de segurança (3 ou 4 dígitos). Obrigatório se 'id' não for informado.",
                        "example": "123"
                      }
                    },
                    "oneOf": [
                      {
                        "required": [
                          "id"
                        ],
                        "description": "Cartão tokenizado"
                      },
                      {
                        "required": [
                          "number",
                          "holderName",
                          "expirationMonth",
                          "expirationYear",
                          "cvv"
                        ],
                        "description": "Novo cartão"
                      }
                    ]
                  },
                  "boleto": {
                    "type": "object",
                    "required": [
                      "expiresInDays"
                    ],
                    "properties": {
                      "expiresInDays": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 30,
                        "description": "Dias para vencimento do boleto",
                        "example": 3
                      }
                    }
                  },
                  "pix": {
                    "type": "object",
                    "required": [
                      "expiresInDays"
                    ],
                    "properties": {
                      "expiresInDays": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 7,
                        "description": "Dias para expiração do PIX",
                        "example": 1
                      }
                    }
                  },
                  "installments": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "default": 1,
                    "description": "Número de parcelas (apenas para cartão)"
                  },
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "title",
                        "unitPrice",
                        "quantity"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100,
                          "description": "Nome/descrição do item",
                          "example": "Produto Digital Premium"
                        },
                        "unitPrice": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "Preço unitário em centavos",
                          "example": 2500
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "Quantidade do item",
                          "example": 2
                        },
                        "externalRef": {
                          "type": "string",
                          "maxLength": 50,
                          "description": "Referência externa/SKU do item",
                          "example": "SKU001"
                        }
                      }
                    }
                  },
                  "split": {
                    "type": "array",
                    "description": "Regras de divisão da transação entre múltiplos recebedores",
                    "items": {
                      "type": "object",
                      "required": [
                        "recipientId",
                        "amount"
                      ],
                      "properties": {
                        "recipientId": {
                          "type": "string",
                          "description": "ID do recebedor cadastrado",
                          "example": "rec_abc123"
                        },
                        "amount": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "Valor em centavos para este recebedor",
                          "example": 1000
                        }
                      }
                    }
                  },
                  "amount": {
                    "type": "integer",
                    "minimum": 100,
                    "description": "Valor total em centavos (mínimo R$ 1,00)",
                    "example": 5000
                  },
                  "postbackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL para receber notificações de mudança de status",
                    "example": "https://webhook.site/your-endpoint"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Dados adicionais em formato JSON",
                    "additionalProperties": true
                  },
                  "ip": {
                    "type": "string",
                    "format": "ipv4",
                    "description": "Endereço IP do cliente (para análise antifraude)",
                    "example": "192.168.1.1"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Descrição da transação",
                    "example": "Compra de produto digital"
                  }
                }
              },
              "examples": {
                "pix_payment": {
                  "summary": "Pagamento via PIX",
                  "value": {
                    "customer": {
                      "name": "João Silva",
                      "email": "joao.silva@example.com",
                      "phone": "11987654321",
                      "document": {
                        "number": "12345678901",
                        "type": "CPF"
                      }
                    },
                    "paymentMethod": "PIX",
                    "amount": 5000,
                    "items": [
                      {
                        "title": "Produto Exemplo",
                        "unitPrice": 5000,
                        "quantity": 1
                      }
                    ],
                    "pix": {
                      "expiresInDays": 1
                    }
                  }
                },
                "card_payment_with_token": {
                  "summary": "Pagamento com cartão tokenizado",
                  "value": {
                    "customer": {
                      "name": "Maria Santos",
                      "email": "maria@example.com",
                      "phone": "11987654321",
                      "document": {
                        "number": "12345678901",
                        "type": "CPF"
                      }
                    },
                    "paymentMethod": "CARD",
                    "amount": 10000,
                    "installments": 3,
                    "card": {
                      "id": "card_token_abc123"
                    },
                    "items": [
                      {
                        "title": "Produto Premium",
                        "unitPrice": 10000,
                        "quantity": 1
                      }
                    ]
                  }
                },
                "card_payment_with_data": {
                  "summary": "Pagamento com dados do cartão",
                  "value": {
                    "customer": {
                      "name": "Pedro Costa",
                      "email": "pedro@example.com",
                      "phone": "11987654321",
                      "document": {
                        "number": "12345678901",
                        "type": "CPF"
                      }
                    },
                    "paymentMethod": "CARD",
                    "amount": 7500,
                    "installments": 1,
                    "card": {
                      "number": "4111111111111111",
                      "holderName": "Pedro Costa",
                      "expirationMonth": 12,
                      "expirationYear": 2025,
                      "cvv": "123"
                    },
                    "items": [
                      {
                        "title": "Serviço Digital",
                        "unitPrice": 7500,
                        "quantity": 1
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pagamento criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "amount",
                            "status",
                            "paymentMethod",
                            "createdAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID único da transação",
                              "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                            },
                            "amount": {
                              "type": "integer",
                              "description": "Valor da transação em centavos",
                              "example": 5000
                            },
                            "refundedAmount": {
                              "type": "integer",
                              "description": "Valor estornado em centavos",
                              "example": 0
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "paid",
                                "failed",
                                "refunded",
                                "expired"
                              ],
                              "description": "Status atual da transação"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "enum": [
                                "PIX",
                                "CARD",
                                "BOLETO"
                              ],
                              "description": "Método de pagamento utilizado"
                            },
                            "installments": {
                              "type": "integer",
                              "description": "Número de parcelas",
                              "example": 1
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data de criação da transação",
                              "example": "2024-08-09T14:30:00Z"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data da última atualização",
                              "example": "2024-08-09T14:35:00Z"
                            },
                            "customer": {
                              "type": "object",
                              "required": [
                                "name",
                                "email",
                                "phone",
                                "document"
                              ],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "minLength": 2,
                                  "maxLength": 100,
                                  "description": "Nome completo do cliente",
                                  "example": "João da Silva Santos"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "E-mail válido do cliente",
                                  "example": "joao.silva@example.com"
                                },
                                "phone": {
                                  "type": "string",
                                  "pattern": "^[0-9]{10,11}$",
                                  "description": "Telefone com DDD (apenas números)",
                                  "example": "11987654321"
                                },
                                "document": {
                                  "type": "object",
                                  "required": [
                                    "number"
                                  ],
                                  "properties": {
                                    "number": {
                                      "type": "string",
                                      "description": "Número do documento (CPF ou CNPJ, apenas números)",
                                      "example": "12345678901"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "CPF",
                                        "CNPJ"
                                      ],
                                      "description": "Tipo do documento",
                                      "example": "CPF"
                                    }
                                  }
                                }
                              }
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "title",
                                  "unitPrice",
                                  "quantity"
                                ],
                                "properties": {
                                  "title": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100,
                                    "description": "Nome/descrição do item",
                                    "example": "Produto Digital Premium"
                                  },
                                  "unitPrice": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Preço unitário em centavos",
                                    "example": 2500
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Quantidade do item",
                                    "example": 2
                                  },
                                  "externalRef": {
                                    "type": "string",
                                    "maxLength": 50,
                                    "description": "Referência externa/SKU do item",
                                    "example": "SKU001"
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "pix"
                          ],
                          "properties": {
                            "pix": {
                              "type": "object",
                              "properties": {
                                "qrcode": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL do QR Code PIX",
                                  "example": "https://api.codiguz.com/pix/qr/abc123"
                                },
                                "qrcodeText": {
                                  "type": "string",
                                  "description": "Código PIX para cópia e cola",
                                  "example": "00020126580014br.gov.bcb.pix..."
                                },
                                "expirationDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Data de expiração do PIX",
                                  "example": "2024-08-10T14:30:00Z"
                                },
                                "endToEndId": {
                                  "type": "string",
                                  "description": "ID fim-a-fim do PIX (após pagamento)",
                                  "example": "E12345678202408091430123456789"
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "amount",
                            "status",
                            "paymentMethod",
                            "createdAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID único da transação",
                              "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                            },
                            "amount": {
                              "type": "integer",
                              "description": "Valor da transação em centavos",
                              "example": 5000
                            },
                            "refundedAmount": {
                              "type": "integer",
                              "description": "Valor estornado em centavos",
                              "example": 0
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "paid",
                                "failed",
                                "refunded",
                                "expired"
                              ],
                              "description": "Status atual da transação"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "enum": [
                                "PIX",
                                "CARD",
                                "BOLETO"
                              ],
                              "description": "Método de pagamento utilizado"
                            },
                            "installments": {
                              "type": "integer",
                              "description": "Número de parcelas",
                              "example": 1
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data de criação da transação",
                              "example": "2024-08-09T14:30:00Z"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data da última atualização",
                              "example": "2024-08-09T14:35:00Z"
                            },
                            "customer": {
                              "type": "object",
                              "required": [
                                "name",
                                "email",
                                "phone",
                                "document"
                              ],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "minLength": 2,
                                  "maxLength": 100,
                                  "description": "Nome completo do cliente",
                                  "example": "João da Silva Santos"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "E-mail válido do cliente",
                                  "example": "joao.silva@example.com"
                                },
                                "phone": {
                                  "type": "string",
                                  "pattern": "^[0-9]{10,11}$",
                                  "description": "Telefone com DDD (apenas números)",
                                  "example": "11987654321"
                                },
                                "document": {
                                  "type": "object",
                                  "required": [
                                    "number"
                                  ],
                                  "properties": {
                                    "number": {
                                      "type": "string",
                                      "description": "Número do documento (CPF ou CNPJ, apenas números)",
                                      "example": "12345678901"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "CPF",
                                        "CNPJ"
                                      ],
                                      "description": "Tipo do documento",
                                      "example": "CPF"
                                    }
                                  }
                                }
                              }
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "title",
                                  "unitPrice",
                                  "quantity"
                                ],
                                "properties": {
                                  "title": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100,
                                    "description": "Nome/descrição do item",
                                    "example": "Produto Digital Premium"
                                  },
                                  "unitPrice": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Preço unitário em centavos",
                                    "example": 2500
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Quantidade do item",
                                    "example": 2
                                  },
                                  "externalRef": {
                                    "type": "string",
                                    "maxLength": 50,
                                    "description": "Referência externa/SKU do item",
                                    "example": "SKU001"
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "card"
                          ],
                          "properties": {
                            "card": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "ID do token do cartão",
                                  "example": "card_abc123"
                                },
                                "brand": {
                                  "type": "string",
                                  "description": "Bandeira do cartão",
                                  "example": "Visa"
                                },
                                "holderName": {
                                  "type": "string",
                                  "description": "Nome do titular",
                                  "example": "JOAO DA SILVA"
                                },
                                "lastDigits": {
                                  "type": "string",
                                  "description": "Últimos 4 dígitos",
                                  "example": "1111"
                                },
                                "expirationMonth": {
                                  "type": "integer",
                                  "example": 12
                                },
                                "expirationYear": {
                                  "type": "integer",
                                  "example": 2025
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "amount",
                            "status",
                            "paymentMethod",
                            "createdAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID único da transação",
                              "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                            },
                            "amount": {
                              "type": "integer",
                              "description": "Valor da transação em centavos",
                              "example": 5000
                            },
                            "refundedAmount": {
                              "type": "integer",
                              "description": "Valor estornado em centavos",
                              "example": 0
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "paid",
                                "failed",
                                "refunded",
                                "expired"
                              ],
                              "description": "Status atual da transação"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "enum": [
                                "PIX",
                                "CARD",
                                "BOLETO"
                              ],
                              "description": "Método de pagamento utilizado"
                            },
                            "installments": {
                              "type": "integer",
                              "description": "Número de parcelas",
                              "example": 1
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data de criação da transação",
                              "example": "2024-08-09T14:30:00Z"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data da última atualização",
                              "example": "2024-08-09T14:35:00Z"
                            },
                            "customer": {
                              "type": "object",
                              "required": [
                                "name",
                                "email",
                                "phone",
                                "document"
                              ],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "minLength": 2,
                                  "maxLength": 100,
                                  "description": "Nome completo do cliente",
                                  "example": "João da Silva Santos"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "E-mail válido do cliente",
                                  "example": "joao.silva@example.com"
                                },
                                "phone": {
                                  "type": "string",
                                  "pattern": "^[0-9]{10,11}$",
                                  "description": "Telefone com DDD (apenas números)",
                                  "example": "11987654321"
                                },
                                "document": {
                                  "type": "object",
                                  "required": [
                                    "number"
                                  ],
                                  "properties": {
                                    "number": {
                                      "type": "string",
                                      "description": "Número do documento (CPF ou CNPJ, apenas números)",
                                      "example": "12345678901"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "CPF",
                                        "CNPJ"
                                      ],
                                      "description": "Tipo do documento",
                                      "example": "CPF"
                                    }
                                  }
                                }
                              }
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "title",
                                  "unitPrice",
                                  "quantity"
                                ],
                                "properties": {
                                  "title": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100,
                                    "description": "Nome/descrição do item",
                                    "example": "Produto Digital Premium"
                                  },
                                  "unitPrice": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Preço unitário em centavos",
                                    "example": 2500
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Quantidade do item",
                                    "example": 2
                                  },
                                  "externalRef": {
                                    "type": "string",
                                    "maxLength": 50,
                                    "description": "Referência externa/SKU do item",
                                    "example": "SKU001"
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "boleto"
                          ],
                          "properties": {
                            "boleto": {
                              "type": "object",
                              "properties": {
                                "bankSlipUrl": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL do boleto em PDF",
                                  "example": "https://api.codiguz.com/boleto/pdf/abc123"
                                },
                                "digitableLine": {
                                  "type": "string",
                                  "description": "Linha digitável do boleto",
                                  "example": "23790.00000 00000.000008 00000.000000 1 89470000005000"
                                },
                                "barcode": {
                                  "type": "string",
                                  "description": "Código de barras do boleto",
                                  "example": "23791894700000050000000000000000000000000008"
                                },
                                "expirationDate": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Data de vencimento",
                                  "example": "2024-08-12"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - parâmetros malformados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "A requisição contém parâmetros inválidos",
                    "details": [
                      "O campo 'amount' deve ser um número inteiro"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - credenciais inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Credenciais de autenticação inválidas"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação - dados não atendem aos requisitos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Dados de entrada inválidos",
                    "details": [
                      "O e-mail deve ter um formato válido",
                      "O valor mínimo é R$ 1,00"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "Ocorreu um erro interno. Tente novamente em alguns instantes."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Listar Transações",
        "description": "Retorna uma lista paginada de transações com filtros opcionais por status, método de pagamento e período.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Número da página (inicia em 1)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "Quantidade de registros por página (máximo 100)"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "paid",
                "failed",
                "refunded",
                "expired"
              ]
            },
            "description": "Filtrar por status da transação"
          },
          {
            "name": "paymentMethod",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PIX",
                "CARD",
                "BOLETO"
              ]
            },
            "description": "Filtrar por método de pagamento"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data inicial (formato: YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data final (formato: YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de transações retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "id",
                                  "amount",
                                  "status",
                                  "paymentMethod",
                                  "createdAt"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "ID único da transação",
                                    "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "description": "Valor da transação em centavos",
                                    "example": 5000
                                  },
                                  "refundedAmount": {
                                    "type": "integer",
                                    "description": "Valor estornado em centavos",
                                    "example": 0
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "pending",
                                      "paid",
                                      "failed",
                                      "refunded",
                                      "expired"
                                    ],
                                    "description": "Status atual da transação"
                                  },
                                  "paymentMethod": {
                                    "type": "string",
                                    "enum": [
                                      "PIX",
                                      "CARD",
                                      "BOLETO"
                                    ],
                                    "description": "Método de pagamento utilizado"
                                  },
                                  "installments": {
                                    "type": "integer",
                                    "description": "Número de parcelas",
                                    "example": 1
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Data de criação da transação",
                                    "example": "2024-08-09T14:30:00Z"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Data da última atualização",
                                    "example": "2024-08-09T14:35:00Z"
                                  },
                                  "customer": {
                                    "type": "object",
                                    "required": [
                                      "name",
                                      "email",
                                      "phone",
                                      "document"
                                    ],
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "minLength": 2,
                                        "maxLength": 100,
                                        "description": "Nome completo do cliente",
                                        "example": "João da Silva Santos"
                                      },
                                      "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "E-mail válido do cliente",
                                        "example": "joao.silva@example.com"
                                      },
                                      "phone": {
                                        "type": "string",
                                        "pattern": "^[0-9]{10,11}$",
                                        "description": "Telefone com DDD (apenas números)",
                                        "example": "11987654321"
                                      },
                                      "document": {
                                        "type": "object",
                                        "required": [
                                          "number"
                                        ],
                                        "properties": {
                                          "number": {
                                            "type": "string",
                                            "description": "Número do documento (CPF ou CNPJ, apenas números)",
                                            "example": "12345678901"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "CPF",
                                              "CNPJ"
                                            ],
                                            "description": "Tipo do documento",
                                            "example": "CPF"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "title",
                                        "unitPrice",
                                        "quantity"
                                      ],
                                      "properties": {
                                        "title": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 100,
                                          "description": "Nome/descrição do item",
                                          "example": "Produto Digital Premium"
                                        },
                                        "unitPrice": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "Preço unitário em centavos",
                                          "example": 2500
                                        },
                                        "quantity": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "Quantidade do item",
                                          "example": 2
                                        },
                                        "externalRef": {
                                          "type": "string",
                                          "maxLength": 50,
                                          "description": "Referência externa/SKU do item",
                                          "example": "SKU001"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "pix"
                                ],
                                "properties": {
                                  "pix": {
                                    "type": "object",
                                    "properties": {
                                      "qrcode": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL do QR Code PIX",
                                        "example": "https://api.codiguz.com/pix/qr/abc123"
                                      },
                                      "qrcodeText": {
                                        "type": "string",
                                        "description": "Código PIX para cópia e cola",
                                        "example": "00020126580014br.gov.bcb.pix..."
                                      },
                                      "expirationDate": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Data de expiração do PIX",
                                        "example": "2024-08-10T14:30:00Z"
                                      },
                                      "endToEndId": {
                                        "type": "string",
                                        "description": "ID fim-a-fim do PIX (após pagamento)",
                                        "example": "E12345678202408091430123456789"
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "id",
                                  "amount",
                                  "status",
                                  "paymentMethod",
                                  "createdAt"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "ID único da transação",
                                    "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "description": "Valor da transação em centavos",
                                    "example": 5000
                                  },
                                  "refundedAmount": {
                                    "type": "integer",
                                    "description": "Valor estornado em centavos",
                                    "example": 0
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "pending",
                                      "paid",
                                      "failed",
                                      "refunded",
                                      "expired"
                                    ],
                                    "description": "Status atual da transação"
                                  },
                                  "paymentMethod": {
                                    "type": "string",
                                    "enum": [
                                      "PIX",
                                      "CARD",
                                      "BOLETO"
                                    ],
                                    "description": "Método de pagamento utilizado"
                                  },
                                  "installments": {
                                    "type": "integer",
                                    "description": "Número de parcelas",
                                    "example": 1
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Data de criação da transação",
                                    "example": "2024-08-09T14:30:00Z"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Data da última atualização",
                                    "example": "2024-08-09T14:35:00Z"
                                  },
                                  "customer": {
                                    "type": "object",
                                    "required": [
                                      "name",
                                      "email",
                                      "phone",
                                      "document"
                                    ],
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "minLength": 2,
                                        "maxLength": 100,
                                        "description": "Nome completo do cliente",
                                        "example": "João da Silva Santos"
                                      },
                                      "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "E-mail válido do cliente",
                                        "example": "joao.silva@example.com"
                                      },
                                      "phone": {
                                        "type": "string",
                                        "pattern": "^[0-9]{10,11}$",
                                        "description": "Telefone com DDD (apenas números)",
                                        "example": "11987654321"
                                      },
                                      "document": {
                                        "type": "object",
                                        "required": [
                                          "number"
                                        ],
                                        "properties": {
                                          "number": {
                                            "type": "string",
                                            "description": "Número do documento (CPF ou CNPJ, apenas números)",
                                            "example": "12345678901"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "CPF",
                                              "CNPJ"
                                            ],
                                            "description": "Tipo do documento",
                                            "example": "CPF"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "title",
                                        "unitPrice",
                                        "quantity"
                                      ],
                                      "properties": {
                                        "title": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 100,
                                          "description": "Nome/descrição do item",
                                          "example": "Produto Digital Premium"
                                        },
                                        "unitPrice": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "Preço unitário em centavos",
                                          "example": 2500
                                        },
                                        "quantity": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "Quantidade do item",
                                          "example": 2
                                        },
                                        "externalRef": {
                                          "type": "string",
                                          "maxLength": 50,
                                          "description": "Referência externa/SKU do item",
                                          "example": "SKU001"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "card"
                                ],
                                "properties": {
                                  "card": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "ID do token do cartão",
                                        "example": "card_abc123"
                                      },
                                      "brand": {
                                        "type": "string",
                                        "description": "Bandeira do cartão",
                                        "example": "Visa"
                                      },
                                      "holderName": {
                                        "type": "string",
                                        "description": "Nome do titular",
                                        "example": "JOAO DA SILVA"
                                      },
                                      "lastDigits": {
                                        "type": "string",
                                        "description": "Últimos 4 dígitos",
                                        "example": "1111"
                                      },
                                      "expirationMonth": {
                                        "type": "integer",
                                        "example": 12
                                      },
                                      "expirationYear": {
                                        "type": "integer",
                                        "example": 2025
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "id",
                                  "amount",
                                  "status",
                                  "paymentMethod",
                                  "createdAt"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "ID único da transação",
                                    "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "description": "Valor da transação em centavos",
                                    "example": 5000
                                  },
                                  "refundedAmount": {
                                    "type": "integer",
                                    "description": "Valor estornado em centavos",
                                    "example": 0
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "pending",
                                      "paid",
                                      "failed",
                                      "refunded",
                                      "expired"
                                    ],
                                    "description": "Status atual da transação"
                                  },
                                  "paymentMethod": {
                                    "type": "string",
                                    "enum": [
                                      "PIX",
                                      "CARD",
                                      "BOLETO"
                                    ],
                                    "description": "Método de pagamento utilizado"
                                  },
                                  "installments": {
                                    "type": "integer",
                                    "description": "Número de parcelas",
                                    "example": 1
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Data de criação da transação",
                                    "example": "2024-08-09T14:30:00Z"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Data da última atualização",
                                    "example": "2024-08-09T14:35:00Z"
                                  },
                                  "customer": {
                                    "type": "object",
                                    "required": [
                                      "name",
                                      "email",
                                      "phone",
                                      "document"
                                    ],
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "minLength": 2,
                                        "maxLength": 100,
                                        "description": "Nome completo do cliente",
                                        "example": "João da Silva Santos"
                                      },
                                      "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "E-mail válido do cliente",
                                        "example": "joao.silva@example.com"
                                      },
                                      "phone": {
                                        "type": "string",
                                        "pattern": "^[0-9]{10,11}$",
                                        "description": "Telefone com DDD (apenas números)",
                                        "example": "11987654321"
                                      },
                                      "document": {
                                        "type": "object",
                                        "required": [
                                          "number"
                                        ],
                                        "properties": {
                                          "number": {
                                            "type": "string",
                                            "description": "Número do documento (CPF ou CNPJ, apenas números)",
                                            "example": "12345678901"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "CPF",
                                              "CNPJ"
                                            ],
                                            "description": "Tipo do documento",
                                            "example": "CPF"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "title",
                                        "unitPrice",
                                        "quantity"
                                      ],
                                      "properties": {
                                        "title": {
                                          "type": "string",
                                          "minLength": 1,
                                          "maxLength": 100,
                                          "description": "Nome/descrição do item",
                                          "example": "Produto Digital Premium"
                                        },
                                        "unitPrice": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "Preço unitário em centavos",
                                          "example": 2500
                                        },
                                        "quantity": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "Quantidade do item",
                                          "example": 2
                                        },
                                        "externalRef": {
                                          "type": "string",
                                          "maxLength": 50,
                                          "description": "Referência externa/SKU do item",
                                          "example": "SKU001"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "boleto"
                                ],
                                "properties": {
                                  "boleto": {
                                    "type": "object",
                                    "properties": {
                                      "bankSlipUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "URL do boleto em PDF",
                                        "example": "https://api.codiguz.com/boleto/pdf/abc123"
                                      },
                                      "digitableLine": {
                                        "type": "string",
                                        "description": "Linha digitável do boleto",
                                        "example": "23790.00000 00000.000008 00000.000000 1 89470000005000"
                                      },
                                      "barcode": {
                                        "type": "string",
                                        "description": "Código de barras do boleto",
                                        "example": "23791894700000050000000000000000000000000008"
                                      },
                                      "expirationDate": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Data de vencimento",
                                        "example": "2024-08-12"
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "integer",
                          "example": 1
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 5
                        },
                        "totalItems": {
                          "type": "integer",
                          "example": 47
                        },
                        "itemsPerPage": {
                          "type": "integer",
                          "example": 10
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - parâmetros malformados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "A requisição contém parâmetros inválidos",
                    "details": [
                      "O campo 'amount' deve ser um número inteiro"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - credenciais inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Credenciais de autenticação inválidas"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Código identificador do erro",
                          "example": "INVALID_CARD"
                        },
                        "message": {
                          "type": "string",
                          "description": "Mensagem descritiva do erro",
                          "example": "Os dados do cartão são inválidos"
                        },
                        "details": {
                          "type": "array",
                          "description": "Detalhes específicos do erro",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "O CVV deve ter 3 ou 4 dígitos"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "INTERNAL_ERROR",
                    "message": "Ocorreu um erro interno. Tente novamente em alguns instantes."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Consultar Transação",
        "description": "Obtém os detalhes completos de uma transação específica pelo ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID único da transação"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação retornados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "amount",
                            "status",
                            "paymentMethod",
                            "createdAt"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "ID único da transação",
                              "example": "c856345e-23d6-471d-bb7e-75dfe340c26d"
                            },
                            "amount": {
                              "type": "integer",
                              "description": "Valor da transação em centavos",
                              "example": 5000
                            },
                            "refundedAmount": {
                              "type": "integer",
                              "description": "Valor estornado em centavos",
                              "example": 0
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "paid",
                                "failed",
                                "refunded",
                                "expired"
                              ],
                              "description": "Status atual da transação"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "enum": [
                                "PIX",
                                "CARD",
                                "BOLETO"
                              ],
                              "description": "Método de pagamento utilizado"
                            },
                            "installments": {
                              "type": "integer",
                              "description": "Número de parcelas",
                              "example": 1
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data de criação da transação",
                              "example": "2024-08-09T14:30:00Z"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Data da última atualização",
                              "example": "2024-08-09T14:35:00Z"
                            },
                            "customer": {
                              "type": "object",
                              "required": [
                                "name",
                                "email",
                                "phone",
                                "document"
                              ],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "minLength": 2,
                                  "maxLength": 100,
                                  "description": "Nome completo do cliente",
                                  "example": "João da Silva Santos"
                                },
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "description": "E-mail válido do cliente",
                                  "example": "joao.silva@example.com"
                                },
                                "phone": {
                                  "type": "string",
                                  "pattern": "^[0-9]{10,11}$",
                                  "description": "Telefone com DDD (apenas números)",
                                  "example": "11987654321"
                                },
                                "document": {
                                  "type": "object",
                                  "required": [
                                    "number"
[...]
